<div class ="container">
  <footer class ="footer">
    <small>
      Copywrite &copy; <a href="https://www.linkedin.com/in/taohalloran/"> LinkedIn</a>
      by Thomas A. O'Halloran
      </small>
      <nav>
        <ul>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
  </footer>
</div>